<div class="col-md-2">
    <a href="http://yorktown.cbe.wwu.edu/students/201/cooperz/MIS324/BirdView/Index">
        <img src='http://yorktown.cbe.wwu.edu/students/191/csandvig/Content/images/birds/bird150.png' />
    </a>
</div>
<div class="col-md-10">
    <h1 class="text-center">Bird View</h1>
</div>

