@model IEnumerable<cooperz_assign01.Models.ColorModel>

<div class="leftNav">
    <div class="columnHeading">Search</div>
    <form action="~/Views/BirdView/Index">
        <input type="text" name="id" class="form-control" style="width: 90%; margin: 3px auto;"/>
        <input type="submit" name="btn btn-primary" value="Submit" />
    </form>

    <div class="columnHeading">Color Select</div>
    <ul>
        @foreach (var color in Model)
        {
            <li>
                <a href="~/Views/BirdView/Index">@color.ColorName</a>
            </li>
        }

    </ul>
    <p class="text-center">
        <br />
        <a href="~/Views/BirdView/AjaxSearch">AJAX Search</a>
    </p>
</div>