@model IEnumerable<cooperz_assign01.Models.BirdModel>

<h2>Home</h2>
@*  *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 ">
            <div class="thumbContainer">
                <h3>@item.Name</h3>
                @{string thumbImage = item.ImageName.Replace(".", "T.");}
                <a href="~/BirdView/Details/@item.BirdID">
                    <img src='~/content/images/birds/@thumbImage' class='birdThumb' alt="@item.Name" title="@item.Name" />
                </a>
            </div>
        </div>
    }
</div>
