@model IEnumerable<cooperz_assign01.Models.BirdModel>

<div class="text-center">
    <div id="pageLoadTime">Page load: </div>
    <h2>Ajax Search Birds</h2>
    <input type="text" id="tbFind" size="5" autofocus />

    <h3 id="Count"></h3>
</div>
<div id="ajaxResults">

</div>