@*@model IEnumerable<cooperz_assign01.Models.MusicCartModel>
 Loop through the qty of items in cart and add up qty 
@{
    int totalQty = 0;

    foreach(var item in Model)
    {
        totalQty += item.Qty;
    }
}*@


<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/Music/Index" class="logo">
                <img src="~/Content/images/music/logo55.png" alt="home" title="MVC Music sample site" class="img-responsive">
            </a>
            <div class="tagLine">Model View Controller Sample Site</div>
        </div>

        <div class=" hidden-sm hidden-xs">
            <div class="col-md-offset-6 col-md-1">
                <a href="/students/201/cooperz/music/cart">
                    <div class="cartStatus enhancement">
                        <div class="cartNumber">
                            0
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav iconContainer">
                    
                        <a href="~/music/Cart">
                            <img src="~/content/images/music/cart.png" class="icon" alt="Cart" title="Cart">
                        </a>
                        @*<span class="ml-3">@totalQty</span>*@
                    
                    <a href="~/music/signin">
                        <img src="~/content/images/music/account.png" class="icon" alt="Signin" title="Signin">
                    </a><a href="~/music/about">
                        <img src="~/content/images/music/about.png" class="icon" alt="About" title="About" style="margin-left:1px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
