@model IEnumerable<cooperz_assign01.Models.MusicStyleModel>
@{
    Layout = null;
}
<div class="col-md-2 sideColumns">
    <div class="sideColumn">
        <div class="leftNav">
            <div class="columnHeading hidden-xs hidden-sm">Search</div>
            <form action="~/Music/Search">
                <input type="text" name="query" class="form-control" style="width: 90%; margin: 3px auto;" />
                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
            <div class="hidden-sm hidden-xs">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var cat in Model)
                    {
                        <li>
                            <a href="~/Music/Browse/@cat.styleId">@cat.styleName (@cat.numProducts)</a>
                        </li>
                    }

                </ul>
                <p class="text-center">
                    <a href="~/Music">Home</a>
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>
