<div class="row col-md-12">
    <ul class="AboutList">
        <li>
            XML Music is a class project built by Zach Cooper for <a href="http://yorktown.cbe.wwu.edu/sandvig/mis324/">MIS 324 Intermediate Web Development</a>
            and Management at <a href="http://www.wwu.edu/">Western Washington University</a>.
        </li>
        <li>Created using ASP.NET MVC and C#. </li>
        <li>Twitter Bootstrap CSS framework provides desktop amd mobile interfaces. </li>
        <li>
            Product, customer and order data is stored in SQL Server database.
        </li>
        <li>
            Layout view and partial views used to eliminate duplicate UI code.
        </li>
        <li>DataAnnotations used to validate all user entries</li>
        <li>
            <b>Home Page</b>
            <ul>
                <li>&quot;Today's Feature Items&quot; are randomly selected from database. </li>
                <li>Browse menu is dynamically generated from database. </li>
            </ul>
        </li>
        <li>
            <b>Search, Browse, Details pages</b>
            <ul>
                <li>Retrieves product data from database.</li>
            </ul>
        </li>
        <li>
            <b>Shopping cart page</b>
            <ul>
                <li>Cart information stored in database.</li>
                <li>ASP.NET SessionID used to maintain state.</li>
                <li>Implemented using a shopping cart class.</li>
            </ul>
        </li>
        <li>
            <b>Checkout page</b>
            <ul>
                <li>
                    Searches the database for existing customer accounts and populates the form with
                    customer information.
                </li>
                <li>New customer data written to database.</li>
                <li>
                    Customers &amp; orders are assigned a unique ID via an identity
                    field.
                </li>
                <li>
                    HTML confirmation email is
                    sent to the customer.
                </li>
            </ul>
        </li>
        <li>
            <b>Order History Page</b>
            <br />
            <ul>
                <li>
                    Database and displays all orders associated with customer's ID.
                </li>
            </ul>
        </li>
        <li>
            <b class="alertMaroon">Enhancements</b><br />
            <ul>
                <li>Number of products in category displayed next to category in the menu.</li>
                <li>Category menu hidden for mobile devices</li>
                <li>Product descriptions truncated on spaces and stripped of HTML using Regex.</li>
                <li>Caching of category menu, search, browse, and details page</li>
                <li>Shopping cart status in header</li>
                <li>Empty cart message on Shopping cart page</li>
                <li>Viewed Items in descending order of time viewed</li>
                <li>Best sellers queried from tblOrderItems and ordered by most popular</li>
                <li>Encrypted customer ID in checkout and order confirmation</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82">Highslide JS</a> on details page for viewing large image</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82#tracks">Music tracks</a> on detail page</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82#styles">Music styles</a> on detail page</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82#similar">Similar items</a> on detail page</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82#also">Customers also bought</a> on detail page</li>
                <li><a href="/students/191/csandvig/music/details/B000002U82#reviews">Customers reviews</a> on detail page</li>
                <li>Order history grouped by order ID in descending order</li>
                <li>Custom validation used to prevent duplicate email address in database</li>
                <li>Google Maps address autocomplete on checkout page</li>
            </ul>
        </li>
        <li>
            Thanks to Amazon.com (the world's greatest on-line store) for the use of its icons,
            product images and descriptions.
        </li>
    </ul>
</div>