<div class="col-md-2">
    <a href="http://yorktown.cbe.wwu.edu/students/201/cooperz/MIS324/Music/Index">
        <img src='http://yorktown.cbe.wwu.edu/students/201/cooperz/Content/images/music/logo55.png' />
    </a>
</div>
<div class="col-md-10">
    <h1 class="text-center">Model View Controller Music</h1>
</div>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="http://yorktown.cbe.wwu.edu/students/201/cooperz/MIS324/Music/Index" class="logo">
        <img src="http://yorktown.cbe.wwu.edu/students/201/cooperz/Content/images/music/logo55.png" alt="home" title="MVC Music sample site" class="img-responsive">
    </a>
    <div class="tagLine">Model View Controller Sample Site</div>
</div>
<div class=" hidden-sm hidden-xs">
    <div class="col-md-offset-6 col-md-1">
        <a href="/students/201/cooperz/music/cart">
            <div class="cartStatus enhancement">
                <div class="cartNumber">
                    0
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-2">
    <div class="navbar-collapse collapse">
        <div class="nav navbar-nav iconContainer">
            <a href="/students/201/cooperz/music/Cart">
                <img src="/students/201/cooperz/content/images/music/cart.png" class="icon" alt="Cart" title="Cart">
            </a>
            <a href="/students/201/cooperz/music/signin">
                <img src="/students/201/cooperz/content/images/music/account.png" class="icon" alt="Signin" title="Signin">
            </a><a href="/students/201/cooperz/music/about">
                <img src="/students/201/cooperz/content/images/music/about.png" class="icon" alt="About" title="About" style="margin-left:1px;">
            </a>
        </div>
    </div>
</div>
